body #teb {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #021c46;
    /*width: 960px;*/
    /*height: 700px;*/
    margin-top: 30px;
}

#main {
    float: center;
    /*width: 750px;*/
}

#sidebar {
    float: right;
    width: 100px;
}

/*#sequence {
    width: 600px;
    height: 70px;
}*/

#legend {
    padding: 10px 0 0 3px;
}

#sequence text,
#legend text {
    font-weight: 600;
    fill: #fff;
    font-size: 0.5em;
}

#chart {
    position: relative;
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    top: 0px;
    left: 0px;
    /*width: 100px;*/
    text-align: center;
    color: rgb(255, 255, 255);
    z-index: -1;
}

#percentage {
    font-size: 1.7em;
}

#amount {
    font-size: 0.8em;
}

#svg_s {
    width: inherit;
    height: inherit;
}